<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ENSA.AI</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/landing.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <p >ENSA.AI</p>
        </div>
        <div class="head_s">
            <form action="/" method="post"> 
                <input type="submit" name="bt_sign" value="SIGN UP" id="bt_signup" class="sign_bt">
                <input type="submit" name="bt_sign" value="LOGIN" id="bt_login" class="login_bt">
            </form>
        </div>

    </nav>
    <img src="../static/info.png" width="100%">
</body>